$primary-color: #FFC107;
$bg-color: #0c0e0f;
$nav-height: 5rem;

@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@font-face {
  font-family: 'Sketch';
  src: url('../public/fonts/Sketch.ttf');
}

h1 {
  font-family: 'Sketch';
  font-size: 4rem;
  text-shadow:  2px 4px 4px black;
  color: rgba($primary-color,.7);
  letter-spacing: .5rem;
  font-weight: 100;
  text-align: center;
}

h2 {
  text-align: center;
  padding: 1rem .5rem;
  color: wheat;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

* {
  box-sizing: border-box;
}

.wrapper {
  background-color: $bg-color;
  min-height: 100vh;
  padding-top: calc($nav-height + 2rem);
}


.search-wrapper {
  margin: 1rem;
  .list-group {
    margin-top: -1rem;
    .list-group-item {
      background-color: rgba(white, .3);
      color: white;
    }
  }
}

th {
  color: $primary-color;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
}
.page-item a {
  color: black;
 margin: .2rem;
}

.page-item.active .page-link {
  color: black;
  background-color: $primary-color;
  border-color: $primary-color;
  font-weight: 600;
  margin: .2rem .2rem .2rem 0;
}
.navbar {
  box-shadow: 0 0 4px $primary-color;
  height: $nav-height;
  background-color: $bg-color;
  .navbar-brand {
    @include flex(row, space-between, center);
    .brand-name {
      padding-left: 1rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}